@model CatForum.Models.Comment

@{
    ViewData["Title"] = "Create Comment";
}

<h1 class="mb-3">Add a Comment</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Hidden field for DiscussionId -->
            <input type="hidden" value="@ViewData["DiscussionId"]" asp-for="DiscussionId" />

            <!-- Content Field -->
            <div class="mb-3">
                <p>What did you want to say?</p>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="mb-3">
                <input type="submit" value="Add Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@ViewData["DiscussionId"]" class="text-decoration-none">
        Back to Discussion
    </a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
